@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h4>Your Appointment is Comfirmed</h4>

<p>Your Name is:<b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>The date of your appointment is: <b>@Html.DisplayFor(m => m.Date)</b></p>


